a:hover {
    color: #ea7411;
}

:root {
	--nextra-primary-hue: 45deg;
	--nextra-primary-saturation: 86.45%;
}

  
.nx-inset-x-0 {
    font-size: 1rem !important;
}

.nx-inset-x-0:hover {
    font-size: 1rem !important;
    color: #ea7411;
}

.nx-text-center {
    text-align: center !important;
    font-size: 1rem !important;
}
.nx-text-center:hover {
    text-align: center !important;
    font-size: 1rem !important;
    color: #ea7411;
}

.nx-whitespace-nowrap{
    font-size: 1rem !important;
    color: #ea7411;
}

:is(html[class~=dark] .dark\:nx-bg-neutral-800) {
    --tw-bg-opacity: 1;
color: #ea7411;
}

@media only screen and (max-width: 767px) {
    .nx-text-current {
        color: currentColor;
        display: none;
    }
}

/*--选择器----*/
::selection {
    background: #ea7411;
    color: var(--shiki-color);
}

::-moz-selection {
    color: var(--shiki-color);
    background: #ea7411;
}

@media screen and (min-width:701px) {
	html {
		overflow-y: scroll;
		height: 100%;
	}
}
