.Home {

}

.Home_b {
    width: 100%;
    height: 350px;
    /* background: linear-gradient(126.33deg, #dcad3fd5 26.26%, #f0c244e5 108.32%); */
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-direction: column;
    align-items: center;

}

.font_size {
    font-size: 3rem;
}

.Cards {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.Card {
    font-weight: bold;
    font-weight: 700;
    width: 100px;
    box-shadow: 0 0 2px #ea7411;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card:hover {

    transition: all 0.8s;
    box-shadow: 0 0 0.9rem #ea7411;
    /* background: linear-gradient(126.33deg, #ea7411 26.26%, #f0c144 108.32%); */
}



.Cards_1 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
}

.Fa {
    font-size: 2rem;
}

.Fa:hover {
    font-size: 2rem;
    color: #ea7411;
}