# 依赖
/node_modules
/.pnp
.pnp.js

# 测试
/coverage
/.React代码片段/
/Hardhat
/hardhat.config.js

# next.js
/.next/
/out/

# 生产
/build

# 杂项
.DS_Store
*.pem

# 调试
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 本地环境文件
.env*.local
.env
.env.local
.env.production
.env.development


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

